on:
  workflow_call:
name: ECR
runs:
  using: 'composite'
  steps:
    - uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6

    - name: ECR
      shell: bash
      env: 
        TF_VAR_app_name: ${{ github.workflow }}
      run: | 
        echo "::group::Terraform ECR"
        ls -lah;pwd
        cd ./iac/infra-ecr
        ls -lah;pwd

        terraform -chdir=infra-ecr init
        terraform -chdir=infra-ecr apply -auto-approve

        echo "::endgroup::"
  
      working-directory: ${{ github.workspace }}