on:
  workflow_call:
name: Docker
runs:
  using: 'composite'
  steps:
    - name: Docker Push
      shell: bash
      run: | 
        echo "::group::Docker Build and Push"
        export VERDE='\033[0;32m'
        export FIM='\033[0m'
        export REGISTRY=821214029626.dkr.ecr.us-east-1.amazonaws.com/${{ github.event.repository.name }}

        docker build -t ${REGISTRY}:${{ GITHUB_SHA }} .

        echo -e "${VERDE}docker push ${REGISTRY}:${{ GITHUB_SHA }}${FIM}"
        docker push ${REGISTRY}:${{ GITHUB_SHA }}
        
        docker tag ${REGISTRY}:${{ GITHUB_SHA }} ${REGISTRY}:latest
        echo -e "${VERDE}docker push ${REGISTRY}:latest${FIM}"
        docker push ${REGISTRY}:latest

        echo "::endgroup::"
  
      working-directory: ${{ github.workspace }}