on:
  workflow_call:
name: Docker
runs:
  using: 'composite'
  steps:
    - name: Configurando Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Docker Push
      shell: bash
      run: | 
        echo "::group::Docker Build and Push"
        export VERDE='\033[0;32m'
        export FIM='\033[0m'
        export REGISTRY=821214029626.dkr.ecr.us-east-1.amazonaws.com/${{ github.workflow }}

        docker build -t ${REGISTRY}:${{ github.sha }} .

        echo -e "${VERDE}docker push ${REGISTRY}:${{ github.sha }}${FIM}"
        docker push ${REGISTRY}:${{ github.sha }}
        
        docker tag ${REGISTRY}:${{ github.sha }} ${REGISTRY}:latest
        echo -e "${VERDE}docker push ${REGISTRY}:latest${FIM}"
        docker push ${REGISTRY}:latest

        echo "::endgroup::"
  
      working-directory: ${{ github.workspace }}